<div class="sign-container">
  <div class="card-form d-flex justify-content-center">
    <div class="rv-p">
      <div class="review-form">

        <h2 class="text-center">Sign up</h2>

        <div class="container">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :first_name, label: false, placeholder: 'Prénom' %>
              <%= f.input :last_name, label: false, placeholder: 'Nom' %>

              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email" }, label: false, placeholder: 'Email address'%>

              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" },
                          label: false,
                          placeholder: 'Mot de passe' %>

              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "new-password" },
                          label: false,
                          placeholder: 'Confirmer mot de passe' %>

              <%= f.input :photo, as: :file %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "S'inscrire", class: 'btn-ghost btn-lg' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
