<%= simple_form_for [current_user, @monument] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs text-left">
    <%= f.input :name, label:"Nom" %>
    <%= f.input :description %>
    <%= f.input :address, label:"Adresse" %>
    <%= f.input :price_per_night, label:"Prix pour une nuit" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } , label:"Choisissez des photos" %>
  </div>

  <div class="btn btn-ghost">
    <%= f.button :submit , "Ajouter"%>
  </div>
<% end %>
