<%= render 'shared/navbar' %>

<div class="container">
  <h1>Monuments#index</h1>
  <p>Find me in app/views/monuments/index.html.erb</p>
</div>


<% @monuments.each do |monument| %>
  <div class="container">
    <div class="card-product">
      <% if monument.photos.attached? %>
        <%= cl_image_tag monument.photos[0].key, height: 150, width: 200, crop: :fill , class: "text-center"%>
      <% end %>
      <div class="card-product-infos">
        <h2><%= monument.name %></h2>
        <p>
          <% monument.description %>
        </p>
        <%= link_to 'Show', monument_path(monument), class: "btn btn-ghost" %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'shared/footer' %>
