
<div class="container">
  <div class="container-product">
      <div class="monument">
      <h1><%= @monument.name %></h1>
        <div class="monument-infos">
          <p><%= cl_image_tag @monument.user.profil %></p>
          <p><%= @monument.average_rating %> <i class="fas fa-star"></i></p>
          <p>Hôte : <%= @monument.user.first_name %></p>
        </div>
        <%= render 'shared/monument_show', monument: @monument %>
      </div>
        <% if current_user.monuments.include?(@monument) %>
          <%= render 'current_user_monument_show' %>
        <% else %>
          <div class="booking">
            <%= render 'form_booking', monument: @monument %>
            <p id="description"> <%= @monument.description %></p>
            <div class="booking-price">
              <p>Prix (taxes et frais compris) :  </p>
              <p id="price_per_night" data-price="<%= @monument.price_per_night %>"></p>
              <p id="total_price"><%= @monument.price_per_night %> M / day</p>
            </div>
          </div>
        <% end %>


  </div>
</div>

<div class="container">
  <% if @monument.bookings.exists? == false%>
     <h4>Aucun avis pour le moment...</h4>
  <% end %>
 <% @monument.bookings.each do |booking| %>
  <% if booking.reviews.exists? %>
    <h4>Avis(<%= booking.reviews.length %>)</h4>
  <% else %>
    <h4>Aucun avis pour le moment...</h4>
  <% end %>
  <% end %>
  <div class="reviews">
   <% @monument.bookings.each do |booking| %>
   <% booking.reviews.each do |review| %>
   <div class="card-review">
      <div class="card-user-infos">
      <%= cl_image_tag booking.user.profil %>
      <p><%= review.rating %> <i class="fas fa-star"></i></p>
      <p id="review-title"><%= review.title %></p>
      </div>
      <div class="card-review-infos">
      <% d = Date.parse(review.created_at.to_s) %>
      <p id="user-name-date"><%= booking.user.first_name %> , <%= d.strftime('%d %b %Y') %></p>
      <p><%= review.content %></p>
    </div>
   </div>
   <% end %>
   <% end %>
   </div>
</div>



