<div class="container">
  <div class="container-product">
      <div class="monument">
      <h1><%= @monument.name %></h1>
        <div class="monument-infos">
          <p><%= cl_image_tag @monument.user.photo.key %></p>
          <p><%= @monument.average_rating %> <i class="fas fa-star"></i></p>
          <p><%= @monument.user.first_name %></p>
        </div>
        <%= render 'shared/monument_show', monument: @monument %>
      </div>
  <div class="booking">
    <%= render 'form_booking', monument: @monument %>
    <p id="description"> <%= @monument.description %></p>
    <div class="booking-price">
    <p>Prix (taxes et frais compris) :  </p>
    <p id="price_per_night" data-price="<%= @monument.price_per_night %>"></p>
    <p id="total_price"><%= @monument.price_per_night %> M / day</p>
    </div>
  </div>

  </div>
</div>

<div class="container">
  <div class="reviews">
   <% @monument.bookings.each do |booking| %>
   <% booking.reviews.each do |review| %>
   <div class="card-review">
      <div class="card-user-infos">
      <%= cl_image_tag booking.user.photo.key %>
      <p><%= review.rating %> <i class="fas fa-star"></i></p>
      <p><%= booking.user.first_name %></p>
      <% d = Date.parse(review.created_at.to_s) %>
      <p><%= d.strftime('%d %b %Y') %></p>
      </div>
      <div class="card-review-infos">
      <p><%= review.title %></p>
      <p><%= review.content %></p>
    </div>
   </div>
   <% end %>
   <% end %>
   </div>
</div>



