<div class="container">

  <div class="col-s6">
    <div class="container" style="margin-top: 40px;">
      <%= cl_image_tag current_user.profil, class: 'avatar avatar-large p-10' %>
      <h1> <%= current_user.full_name %> </h1>
      <%= link_to icon('fas', 'edit'), edit_user_path(current_user), class: 'edit'  %>
    </div>
  </div>
</div>
<hr>
<div class="container">

  <% if current_user.monuments.empty? %>

    <h2>You have no monuments for instance</h2>
    <%= link_to 'Add A Monument', new_user_monument_path(current_user), class: 'btn btn-primary'  %>

  <% else %>

    <h2 class="text-left">My Monuments</h2>

    <div class="card-container">
      <% current_user.monuments.each do |monument| %>
        <%= render 'shared/monument_card', monument: monument %>
      <% end %>
    </div>
    <%= link_to 'Add A Monument', new_user_monument_path(current_user), class: "btn btn-primary add-monument" %>

  <% end %>
</div>

<hr>

<div class="container">
  <% if @bookings.empty? %>
    <div style="height: 20vh;">
      <h2>You have no bookings for instance,</h2>
      <%= link_to 'Book a monument !', monuments_path, class: 'btn btn-primary'  %>
    </div>
  <% else %>
    <h2>Your bookings:</h2>
    <table class="Bookings table" class="text-center">
      <thead>
        <tr>
          <th scope="col">Monument</th>
          <th scope="col">Date of arrival</th>
          <th scope="col">Date of departure</th>
          <th scope="col">Duration of stay</th>
          <th scope="col" colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @bookings.each do |booking| %>
          <tr>
            <td><%= booking.monument.name %></td>
            <td><%= booking.date_of_arrival %></td>
            <td><%= booking.date_of_departure %></td>
            <td><%= booking.duration %></td>
            <td>
              <%= link_to 'Review this monument !', new_monument_review_path(booking.monument.id), class: 'btn btn-outline-primary btn-sm'%>
              </td>
            <td><%= link_to 'Cancel this booking', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-small btn-sm', remote: true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

</div>



