<div class="navbar navbar-expand-sm navbar-light navbar-lewagon d-flex align-item-center">
  <div class="logo-container d-flex">
    <ul class="navbar-nav mr-auto">
      <li>
        <%= link_to root_path do  %>
          <%= image_tag "logo.png", width: "60" %>
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li style="margin-top: 5px; margin-left: 5px;">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% end %>

    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Monuments", monuments_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user) do  %>
              <%= cl_image_tag current_user.profil, class: "avatar" %>
            <% end %>
          </li>
      <% else %>
        <li class="nav-item d-flex">
           <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Monuments", monuments_path, class: "nav-link" %>
        </li>
          <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
