<div class="login-container">
  <div class="card-form d-flex justify-content-center">
    <div class="rv-p">
      <div class="review-form">
        <h3>Donnez votre avis</h3>
        <hr>
        <%= simple_form_for [@monument, @review] do |f| %>
          <h5>Ajouter un titre</h5>
          <%= f.input :title, label:false , placeholder:"Le plus important" %>
          <h5>Commentaire</h5>
          <%= f.input :content, label: false, placeholder:"Qu'avez vous pensé de ce bien ?" %>
          <h5> Note </h5>
          <div class="range">
            <div class="input">
              <%= f.input :rating,
              collection: 1..5,
              as: :range,
              type: "range",
              label: false,
              class: "custom-range",
              input_html: {
                min: "0",
                max: "5",
                onchange: "
                const label = document.getElementById('value')
                const val = document.getElementById('textInput').value
                label.innerHTML = `${val}`
                ",
                id: "textInput"} %>
            </div>
            <div class="value-input">
              <p id="value">3</p>
            </div>
          </div>
            <%= f.submit "Envoyez votre avis", class: "btn btn-primary submit-rating" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


